{% extends "layout.jinja2" %}

{% block content %}
    <div class="content">
        <h1><span class="font-semi-bold">Pyramid</span> <span class="smaller">Starter project</span></h1>
        <p class="lead"><span class="font-semi-bold">404</span> Page Not Found</p>
    </div>
{% endblock content %}