<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tender</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="./static/lib/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="./static/lib/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script src="./static/lib/jquery-3.7.1.min.js"></script>
    <script src="./static/js/form.js"></script>
</head>
<body>
    <div class="container">
        {% block content %}
            <p>No content</p>
        {% endblock content %}
    </div>
</body>
</html>
