{% extends "layout.jinja2" %}

{% block content %}
    <div class="content">
        <legend>Uploading work estimates</legend>
        <div class="alert alert-success d-none" role="alert">Данные успешно загружены.</div>
        <form method="POST" data-url="/load_work_estimate" id="work_estimate_form">
            <div class="mb-3">
                <label for="work_estimate_file" class="form-label">Work Estimated file input</label>
                <input class="form-control" type="file" id="work_estimate_file" name="work_estimate_file">
            </div>
            <div class="alert alert-danger d-none" role="alert"></div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock content %}